@charset "utf-8";
/* CSS Document */
*{
	text-align:center;
	
}

/*top*/

.top{
	position:relative;
	
}
.menu{
	position:absolute;
	display: inline-block;
	
}

/*nav*/

nav{
	border-color: #9D9D9D;
    border-width: 1px 0;
    border-style: solid;
	color: red;
	font-family: Arial black;
	font-size: x-large;
	
	
}
nav > ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: auto;
    justify-content:space-around;
	
}
nav a{
    font-size: 1.2rem;
	color: inherit;
	display: block;
		

}
nav li:hover{
	color: black;

}

.aboutUs h1{
	text-align: left;
	font-family: Arial black;
	padding: 0 0 5% 0;
}

.desc {
    position: absolute;
    color: #fff;
    bottom: 52px;
    left: 18px;
    font-size:20px;
}
.carousel-indicators li {
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}


