@charset "utf-8";
/* CSS Document */
*{
	text-align:center;
}

/*top*/

.top{
	position:relative;
}
.menu{
	position:absolute;
	display:inline-block;
}
.menu botton{
	background-image: url("../home/search.png");
}
/*nav*/

nav{
	border-color: #9D9D9D;
    border-width: 1px 0;
    border-style: solid;
	color: red;
	font-family: Arial black;
	font-size: x-large;
}
nav > ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: auto;
    justify-content:space-around;
}
nav a{
    font-size: 1.2rem;
	color: inherit;
	display: block;
}
nav li:hover{
	color: black;
}
#LB05{
	max-height: 70%;  
    max-width: 70%; 
    margin: 2%;
}
#wheels{
	height: 70%;  
    width: 70%; 
    margin: 2%;
}
#deck{
	height: 70%;  
    width: 70%; 
    margin: 2%;
}
#trucks{
	height: 70%;  
    width: 70%; 
    margin: 2%;
}
.color{
	height: 50%;  
    width: 50%; 
    margin: 0;
}

.shop-item h1{
	text-align: left;
	font-family: Arial black;
	padding: 0 0 5% 0;
}
.shop-item p{
	font-family: Microsoft JhengHei black;
	font-size: 18px;
	color:black;
	text-align: left;
	padding: 0 0 0 15%;	
}
.goshop{
	background-color: black;
	font-family: Microsoft JhengHei black;
	border-radius: 5px;
	border: none;
	padding: 8px 20px;
}
input{
	border-color: white;
}
input:focus{
	color: red;
	border: 2px  solid #FF0004
}

